:root {
  /* MARGENES BOTTOM */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(90deg, #556270 0%, #af33e9 100%);
  color: white;
}


/* ----------BOTON PARA SUBIR---------- */
#btn-up {
  width: 40px;
  height: 40px;
  background: rgb(230, 220, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(238, 17, 139);
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}

#btn-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

/* ----------BOTON PARA SUBIR---------- */



/* ------------------------NAVBAR INICIO-------------------- */
nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  /*EFECTO COLOR*/
  background: linear-gradient(to left,
      #ffffff 10%, #1c426d 50%, #ffffff 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
}

/* EFECTO TITULOS */
a {
  text-decoration: none;
  color: #9ca0b1;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  float: left;
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
}


.nav-item a:focus,
.nav-item a:hover {
  color: #5e1acc;
  transition: 0.3s;
}

#btncopy {
  font-size: 22px;
  color: #5d7be7;
}

#btncopy:focus,
#btncopy:hover {
  color: #5e1acc;
  transition: 0.3s;
}



/* ----------------------------NAVBAR FINAL------------- */

.section {
  padding: 6.5rem 0 2rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.section-title::before {
  content: attr(data-heading);
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--skin-color);
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}


/* section 1 */

.inicio {
  height: 100vh;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
}

.inicio-container {
  position: relative;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* CONTENEDOR DE TEXTOS */
.contenedor-textos {
  flex-basis: 50%;
  padding-left: 40px;
  overflow: hidden;
  color: #fff;
  /* float: left; */

}

/* TITULO PRINCIPAL H1 */
.titulo {
  font-size: 50px;
  margin: 20px 0;
  font-family: "Josefin Sans";

  /*EFECTO COLOR*/
  background: linear-gradient(to left,
      #ffffff 10%, #1c4b6d 50%, #ffffff 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
}

/* EFECTO TITULOS */
a {
  text-decoration: none;
  color: #9ca0b1;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* BOTON INICIO */
.boton {
  position: relative;
  display: block;
  padding: 25px 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  max-width: 320px;
  height: 65px;
  margin-bottom: 60px;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all ease 0.5s;
  background: #10b87b;
  font-family: "Josefin Sans";
}

a.boton:after,
a.boton:before {
  width: 80px;
  height: 200px;
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  top: -60px;
  position: absolute;
  transition: none;
  right: -45%;
  cursor: pointer;
}

a.boton:before {
  left: -48%;
}

a.boton:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #12c987;
}

a.boton:hover:after,
a.boton:hover:before {
  transform: rotate(45deg), scaleX(130%);
  background: rgba(255, 255, 255, 0.1);
  transition: all ease 0.5s;
}

a.boton:hover:after {
  right: 130%;
}

a.boton:hover:before {
  left: 130%;
}

/* FIN BOTON INICIO */



/* CONTENEDOR IMAGEN PRINCIPAL */
.contenedor-imagen {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
}


/* LOGO PRINCIPAL */
.logoppal {
  animation: logoAnimado ease-in 1s infinite alternate;
  width: 85%;
}

/* ANIMACION DEL LOGO PRINCIPAL */
@keyframes logoAnimado {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

/* CONTENEDOR DE REDES SOCIALES */
.contenedor-sociales {
  /* position: absolute; */
  width: 170px;
  height: 70px;
  z-index: 1;
  right: 10px;
  margin-top: 42%;
  background: #fff;
  border-radius: 40px;
  text-align: center;
  position: fixed;


}

/* LOGO INSTAGRAM */
.logoig {
  position: relative;
  width: 70px;
  height: 70px
}

/* LOGO GMAIL */
.logogmail {
  position: relative;
  width: 70px;
  height: 70px;
}



/* Sección de minijuegos estilos */

.juegos {
  height: 100vh;
  background: linear-gradient(97.13deg, #0A2A88 5.56%, #3177B7 52%, #7F5A9B 100%);
}

.juegos-container {
  position: relative;
  height: 100%;
  align-items: center;
}

.box-container-1,
.box-container-2,
.box-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
  z-index: 1000;
  display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
  display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
  display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
  display: inline-block;
}

.content {
  width: 16rem;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background: #0d8f5f88;
}




.minijuego-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.minijuego-info {
  padding: 10px;
}

.minijuego-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.jugar-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* Pseudoelemento para agregar margen derecho en cada cuarta tarjeta */
.minijuego-card:nth-child(4n + 1) {
  margin-right: 0;
  display: inline-block;
}





/* Section 3 */
.nosotros {
  height: 100vh;
  background: linear-gradient(97.13deg, #0A2A88 5.56%, #3177B7 52%, #7F5A9B 100%);
}

.nosotros-container {
  position: relative;
  height: 100%;
  align-items: center;
}






/*-------------------------------SEC 5 CONTACTO---------------------------*/

.sec5 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #556270 0%, #e9335b 100%);
  transition: all 0.3s ease-in-out;
}

/* IMG GATOS CONTACTO */
.gatocontacto1 {
  position: absolute;
  width: 211px;
  height: 218px;
  left: 90px;
  margin-top: 230px;
}

.gatocontacto2 {
  position: absolute;
  width: 172px;
  height: 170px;
  left: 980px;
  top: 81px;
}


/* RECTANGULO DE CONTACTO */
.contact-container {
  display: flex;
  background: #3e3e3e;
  margin: 100px auto;
  width: 760px;
  height: 440px;
  overflow: hidden;
  border-radius: 20px;
  align-items: center;
  border-left: 4px solid #ea1d6f;
  border-right: 4px solid #6d5469;

}

/* RECTANGULO IZQUIERDO */
.left-col {
  width: 380px;
  height: 440px;
  background-size: cover;
}

/* TITULO IZQUIERDO */
.titulo-izquierdo-sec5 {
  color: #ea1f6f;
  padding-top: 15px;
  padding-left: 96px;
  padding-bottom: 5px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  border-bottom: 4px solid;
}

/* LOGO */
.imglogo-sec5 {
  width: 180px;
  height: 180px;
  margin: 3vw 110px;


  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 1);
  border-radius: 200px;
  animation: rotation 8s infinite linear;

}

/* ANIMACION LOGO */
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

/* FIN LOGO */

/* LOGO IG */
.logoig-sec5 {
  position: relative;
  margin: auto 115px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

/* LOGO GMAIL */
.logogmail-sec5 {
  position: relative;
  margin: 0px -85px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

/* RECTANGULO DERECHO */
.right-col {
  background: #3e3e3e;
  width: 380px;
  height: 440px;
  padding: 1.3rem 0;

}

/* TITULO INVISIBLE DERECHO */
.titulo-derecho-sec5 {
  color: #3e3e3e;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;


  border-bottom: 4px solid #ea1d6f;

}


label,
button,
.description {
  font-family: 'Josefin Sans';
  font-weight: 400;
  letter-spacing: 0.1rem;
}




/* TITULOS DEL FORMULARIO */
label,
.description {
  color: #ff2e82;
  text-transform: uppercase;
  font-size: 0.625rem;
}

/* CAJA DEL FORMULARIO */
form {
  width: 380px;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

/* ORDEN DEL FORMULARIO */
input,
textarea,
label {
  width: 380px;
  display: block;
}


placeholder,
input,
textarea {
  font-family: 'Josefin Sans';
}

input::placeholder,
textarea::placeholder {
  color: #d3c7c7;
}

/* CAJA DONDE SE ESCRIBE EL FORMULARIO */
input,
textarea {
  color: #d3c7c7;
  font-weight: 500;
  background: #3e3e3e;
  border: none;
  border-bottom: 1px solid #ff2e82;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

/* BOTON ENVIAR DEL FORMULARIO */
button {
  text-transform: uppercase;
  font-weight: 300;
  background: #c7b2b2;
  color: #3e3e3e;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin: auto 100px;
  border-radius: 20px;
}

/* EFECTOS DE OPACIDAD AL PASAR EL MOUSE POR EL FORMULARIO Y BOTON */
input:hover,
textarea:hover,
button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}




#error,
#success-msg {
  width: 380px;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost';
  color: #ff2e82;
}


#success-msg {
  transition-delay: 3s;
}



/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  margin-top: 100px;
  border-top: 1px solid white;
}

.footer ul{
  display: flex;
}

.footer h3{
  font-size: 30px;
}

.footer a{
  color: white;
  font-size: 20px;
  margin-right: 20px;
  display: block;
}

.footer a:hover{
  color: var(--button-color);
}

.footer-copy{
  font-size: .875rem;
  text-align: center;
  /* margin-top: 4.5rem; */
}






@media screen and (max-width: 1408px) {
  .container {
    margin-left: var(--mb-2-5);
    margin-right: var(--mb-2-5);
  }
}

@media screen and (max-width: 1216px) {
  .about-container {
    column-gap: 2.5rem;
  }

  .about-description {
    padding-right: 0;
  }

  .work-container {
    grid-template-columns: repeat(2, 330px);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {

  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .sidebar {
    width: 100%;
    z-index: 999;
    transform: translateX(-100%);
  }

  .show-sidebar {
    transform: translateX(0);
  }

  .nav-logo,
  .btn-share {
    display: none;
  }

  .nav-menu {
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translateX(0);
    display: flex;
    justify-content: center;
  }

  .nav-list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    padding: 1rem 0;
    line-height: 1.5;
  }

  .nav-link.active-link::after,
  .nav-link:hover::after {
    bottom: 0;
  }

  .nav-close {
    display: block;
  }

  .nav-toggle {
    display: flex;
  }

  .main {
    margin-left: 0;
  }

  .about-container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about-img {
    width: 350px;
  }

  .about-data {
    text-align: center;
  }

  .about-info {
    justify-content: center;
  }

  .about-box {
    padding: .75rem .5rem;
  }

  .about-description {
    padding: 0 4rem;
    text-align: center;
  }

  .qualification-container {
    grid-template-columns: repeat(2, 290px);
  }

  .skills-container {
    grid-template-columns: 340px 300px;
  }

  .skills-list {
    row-gap: 1.7rem;
  }

  .work-card {
    padding: 1rem;
  }

  .work-img {
    margin-bottom: var(--mb-0-75);
  }

  .work-title {
    margin-bottom: var(--mb-0-25);
  }

  .services-container {
    grid-template-columns: repeat(3, 220px);
  }

  .testimonial-card {
    padding: 1.25rem 1.5rem;
  }

  .portfolio-item-details {
    margin-bottom: var(--mb-1-5);
  }

  .details-info li {
    margin-bottom: var(--mb-0-5);
  }

  .details-title {
    margin-bottom: var(--mb-0-75);
  }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {

  .home {
    background-image: none;
  }

  .home-img {
    display: block;
    width: 300px;
    justify-self: center;
    border-radius: .5rem;
  }


  .about-img {
    width: 250px;
  }

  .qualification-container {
    grid-template-columns: 290px;
    row-gap: 3rem;
  }

  .skills-container {
    grid-template-columns: 300px;
    row-gap: 3rem;
  }

  .work-container {
    grid-template-columns: 330px;
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .services-content {
    padding: 3.5rem .5rem 1.25rem 1.5rem;
  }

  .services-icon {
    font-size: 1.5rem;
  }

  .contact-container {
    grid-template-columns: 360px;
    row-gap: 3rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .footer-socials {
    justify-self: start;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .footer-bg {
    padding: 2rem 0 3rem;
  }

  .footer-copy {
    margin-top: var(--mb-3);
  }

  .portfolio-popup-inner {
    width: 420px;
    padding: 2.8rem 1.5rem 2.5rem;
  }

  .portfolio-popup-content {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  .details-title {
    font-size: var(--normal-font-size);
  }

  .portfolio-popup-close {
    top: .5rem;
  }
}

@media screen and (max-width: 576px) {

  .nav.toggle {
    right: initial;
    left: 1.5rem;
  }

  .home {
    background-image: none;
    height: initial;
    align-items: initial;
    padding: 7rem 0 2rem;
  }

  .home-container {
    row-gap: 2rem;
  }

  .home-img {
    display: block;
    width: 250px;
    justify-self: center;
    border-radius: .5rem;
  }

  .home-social {
    left: initial;
    right: -1rem;
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .home-social-follow {
    font-size: var(--smaller-font-size);
    transform: rotate(90deg);
  }

  .home-social-links {
    flex-direction: column;
    row-gap: .25rem;
  }

  .home-social-link {
    font-size: var(--normal-font-size);
  }

  .my-info {
    display: none;
  }

  .about-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-description {
    padding: 0;
  }

  .services-modal-content {
    padding: 4.5rem 1.5rem 2.5rem;
  }

  .services-modal-description {
    padding: 0;
  }

  .contact-container,
  .work-container {
    grid-template-columns: 300px;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links {
    justify-self: flex-start;
  }


}

/* For Small Devices */
@media screen and (max-width: 350px) {

  .home__handle {
    width: 150px;
    height: 253px;
  }

  .home__blob {
    width: 150px;
  }


  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home-img {
    width: 200px;
  }

  .home-title {
    font-size: var(--h1-font-size);
  }

  .home-subtitle {
    font-size: var(--normal-font-size);
  }

  .about-info {
    grid-template-columns: repeat(2, 1fr);
    row-gap: .5rem;
  }

  .contact-container,
  .work-container,
  .skills-container,
  .qualification-container {
    grid-template-columns: 1fr;
  }

  .skills-title {
    font-size: var(--normal-font-size);
  }

  .work-item {
    font-size: var(--small-font-size);
  }

  .services-container {
    grid-template-columns: max-content;
  }

  .services-content {
    padding-right: 3.5rem;
  }
}